<%-include("./partials/header")  %> 
<h1>Compose</h1>
<form action="/" method="POST">
    <div class="form-group">
       <p>Title</p>
<input class="form-control" type="text" name="bodyTitle" >
<p>Post</p>
<textarea class="form-control" name="bodyPost" cols="30" rows="5"></textarea> <br>
<button type="submit" class="btn btn-primary">Publish</button> 
    </div>

</form>
<%-include("./partials/footer")  %> 